.editor-contr{
    .inner-contr{
        display: flex;
        justify-content: space-between;
        margin: auto;
        width: 60%;
        height: 100vh;
        display: flex;
        justify-content: center;
        height: 80vh !important;
    }
    .text-editor{
        margin-top:40px;
        width: 100%;
        .draft-text{
            font-size: 14px;
        }
        .save-text{
            color: #b1adad;
            margin-left: 10px;
            font-size: 16px;
        }
    }
    .ql-toolbar.ql-snow , .ql-container.ql-snow {
        border: none;
        margin-top: 10px;
    }
    .ql-container.ql-snow{
        margin-top: 20px;
    }
    .ql-toolbar.ql-snow{
        border-radius: 10px;
        padding: 14px;
        box-shadow: rgba(0, 0, 0, 0.0509803922) 0px 0px 4px, rgba(0, 0, 0, 0.15) 0px 2px 8px;
        background-color: #fcfcfc;
        width: 60%;
        margin-top: 26px;
    }
    .ql-toolbar.ql-snow .ql-active{
        background-color: #dedddd;
    }
    .ql-toolbar.ql-snow {
        .ql-bold, .ql-italic, .ql-underline{
            margin-right: 4px;
        }
    }
    .title{
        border: none;
        outline: none;
        font-size: 40px;
        // font-weight: 600;
        font-family: initial;
        caret-color: grey;
    }

    .title::placeholder{
        color: #b3b3b1;

    }
    .ql-editor.ql-blank::before {
        font-size: 20px;
        font-style: normal;
        color: #b3b3b1;
        font-family: initial;
    }
    .ql-editor p{
        font-size: 16px;
    }
}